.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.array-bar {
    width: 2px;
    background-color: aqua;
    margin: 0 1px;
}

body {
    background-color: #2c3e50;
}